*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
blockquote,
button {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1100px;
  font-family: Raleway, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-underline-offset: 4px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background-color: transparent;
}
